.filter_wrap {
  width: 100%;
  padding: 10px;
  background: #fdfdfd;
  border: 1px solid #f1f1f1;
  border-radius: 2px;
  margin-bottom: 20px;
}

.search_btn {
  margin-top: 4px;
}

.el-table {
  margin-top: 20px;
}

.avatar-uploader .el-upload {
  border: 1px dashed #d9d9d9;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.avatar-uploader .el-upload:hover {
  border-color: #409EFF;
}

.avatar-uploader-icon {
  font-size: 28px;
  color: #8c939d;
  width: 178px;
  height: 178px;
  line-height: 178px;
  text-align: center;
}

.avatar {
  width: 178px;
  height: 178px;
  display: block;
}

// 预览区域
.pre_view {
  border: 1px solid #ccc;
  width: 375px;
  height: 540px;
  overflow-y: auto;

}

.pre_view p {
  padding: 15px;
  margin: 0;
}

.pre_view_wrap {
  width: 375px;
  height: 540px;
  margin: 0 auto;
}

.pre_view_wrap h4 {
  text-align: center;
  font-weight: normal;
  margin-bottom: 10px;
}

.red {
  color: red;
}

.el-pagination {
  margin-top: 20px;
}

.el-dialog__header {
  border-bottom: 1px solid #e2e2e2;
}

.dialog-footer {
  text-align: right;
}

.pic_tip {
  color: #b5b5b5;
}

label.name {
  font-size: 15px;
  padding-left: 20px;
  margin-bottom: 15px;
  display: inline-block;
}
.mul_box{
  display: flex;
}
.mul_box .el-form-item{
  margin-right: 20px;
}

.footer_btn{
  padding-left: 100px;
}